/* ------------------------------------------------ */
/*  ie8Gallery styles                               */
/* ------------------------------------------------ */

/* thumbnails */
.thumbs {
  /* padding: 1em;
  text-align: center;
  background: darkcyan; */
}
.thumbs .thumb{
    display: inline-block;
    margin: 0.5em;
    width: 7em;
    height: auto;
    vertical-align: middle;
    border: 0.3em solid #f1f1f1;
    cursor: pointer;
}

/* under- and overlay */
.underlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    /* ie8 */
    background-color: #000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    /* ie8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.overlay .galleryimage{
    position: absolute;
    top: 3em;
    left: 50%;
    width: 70%;
    height: 100%;
    margin-left: -35%;
    cursor: pointer;
}
.overlay .galleryimage img{
    width: auto;
    height: auto;
    border: 0.35em solid #ececec;
}

/* controls */
.overlay .prev,
.overlay .next{
  position: absolute;
  display: inline-block;
  top: 6em;
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 2em solid transparent;
	border-bottom: 2em solid transparent;
}
.overlay .prev {
  left: 2em;
  border-right: 2em solid #fff;
}
.overlay .next {
  right: 2em;
	border-left: 2em solid #fff;
}

/* media queries */
@media screen and (max-width: 800px) {
  .overlay .galleryimage {
    left: 58.5%;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .overlay .galleryimage {
    left: 48%;
    width: 70%;
  }
  .overlay .prev,
  .overlay .next{
    border-top-width: 1em;
    border-bottom-width: 1em;
  }
  .overlay .prev {
    left: 1em;
    border-right-width: 1em;
  }
  .overlay .next {
    right: 1em;
    border-left-width: 1em;
  }
}
